<template>
  <div class="card">
    <div class="card-header">Datos de usuario</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <span>Datos Generales</span>
            </div>
            <form autocomplete="off">
              <div class="form-body">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="control-label">Email</label>
                      <el-input readonly v-model="user.email"></el-input>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="control-label">Nombre Usuario</label>
                      <el-input readonly v-model="user.name"></el-input>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Api Token</label>
                      <el-input readonly v-model="user.api_token"></el-input>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </el-card>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.extend {
  width: 100%;
}
</style>
<script>
export default {
  components: {},
  props: ["user"],
  data() {
    return { form: {} };
  },
  created() {
    //this.init();
  },
  methods: {
    init() {}
  }
};
</script>

<style>
.form-control-feedback {
  color: red;
}
</style>
